.navbar-horizontal {
  align-items: center;
  background: #1D1D1D;
  color: white;
  display: flex;
  height: 8vh;
  text-decoration: none;

  a {
    color: white;
    text-decoration: none; /* no underline */
  }

  .links {
    position: absolute;
    right: 5vw;

    * {
      margin: 0 2vw;
    }
  }

  .title {
    align-items: center;
    display: flex;
    position: absolute;
    left: 5vw;

    * {
      margin: 0 5px;
    }
  }
}
